@import '../../../../styles.css';

fieldset {
    margin: 10px;
    border: 2px solid var(--border-color);
    box-sizing: border-box;
    width: 100%;
}

legend {
    color: var(--secondary-color);
}

p {
    color: var(--primary-color);
    margin-bottom: 5px;
}

form.formBox {
    display: grid;
    grid-template-columns: 80% 20%;
}

div.leftSide {
    display: flex;
    flex-wrap: wrap;
}

div.leftSide input {
    width: 400px;
    height: 25px;
    border: 1px solid var(--border-color);
}

div.leftSide > * {
    margin: 10px;
}

div.rightSide {
    justify-self: end;
    display: flex;
    align-items: flex-end;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

img {
    width: 200px;
}
.btns {
    display: flex;
}
button {
    width: 100px;
}

@media (max-width: 768px) {
    form.formBox {
        display: flex;
        align-items: center;
        gap: 10px;
        flex-direction: column;
        flex-wrap: wrap;
    }

    div.leftSide input {
        width: 200px;
        height: 20px;
        border: 1px solid var(--border-color);
    }

    div.leftSide {
        justify-content: center;
    }
}