<fieldset>
    <legend>Add Person</legend>
    <form class="formBox" [formGroup]="form">
        <p class="error-message" style="font-size: large;" *ngIf="isSubmitted">Please fill the the form</p>
        <div class="leftSide">
            <div class="input">
                <p>First Name</p>
                <input type="text" class="textInput" [class.error]="firstNameValid" formControlName="firstName">
                <p class="error-message" *ngIf="firstNameValid" >please enter the student first name</p>
            </div>
            <div class="input">
                <p>Last Name</p>
                <input type="text" class="textInput" [class.error]="lastNameValid" formControlName="lastName">
                <p class="error-message" *ngIf="lastNameValid">please enter the student last name</p>
            </div>
            <div class="input">
                <p>Grade</p>
                <input type="text" class="textInput" [class.error]="gradeValid"  formControlName="grade">
                <p class="error-message" *ngIf="gradeValid">please enter the student gradecorrect</p>
            </div>
            <div class="input">
                <p>Class</p>
                <input type="text" class="textInput" [class.error]="classValid"  formControlName="class">
                <p class="error-message" *ngIf="classValid">please enter the student class</p>
            </div>
        </div>

        <div class="rightSide">
            <img src="../../../../assets/icons/student-add.png" alt="Add Student">
            <div class="btns">
                <button class="btnPrimary add" (click)="onClick()"><fa-icon [icon]="faAdd"></fa-icon> Add</button>
                <button class="btnPrimary cancel" (click)="onClose()"><fa-icon [icon]="faXmark"></fa-icon> Cancel</button>
            </div>
        </div>
    </form>
</fieldset>