<div class="container">
    <div class="header">
        <button class="back" (click)="onClick()">
            <fa-icon  [icon]="faArrowLeft" style="color: black;" size="xl"></fa-icon>
        </button>
        <h2>2023-Math-10-A</h2>
    </div>

    <div class="body">
        <div class="marks boxs">
            <h2>Class Marks</h2>
            <a routerLink="marks">MARKS</a>
        </div>
        <div class="assignments boxs">
            <div class="top">
                <h2>Assignments</h2>
                <div class="editMenu">
                    <div class="edit" (click)="onPress()">
                        <fa-icon [icon]="faGear"></fa-icon>
                        Edit
                        <fa-icon [icon]="faCaretDown"></fa-icon>
                    </div>
                    <ul class="dropdownMenu" [class.visible]="isVisible">
                        <li class="add" id="add">add quiz</li>
                        <li>add assignment</li>
                        <li>upload a file</li>
                        <li>post a note</li>
                    </ul>
                </div>
            </div>
            <div class="assignment box">
                <fa-icon [icon]="faBook"></fa-icon>
                <a routerLink="assignment">Assignment 1</a>
            </div>
            <div class="assignment box">
                <fa-icon [icon]="faBook"></fa-icon>
                <a routerLink="assignment">Assignment 1</a>
            </div>
        </div>

        <div class="quizzes boxs">
            <h2>Quizzes</h2>
            <div class="quiz box">
                <fa-icon [icon]="faQuestion"></fa-icon>
                <a routerLink="quiz">Quiz 1</a>
            </div>
            <div class="quiz box">
                <fa-icon [icon]="faQuestion"></fa-icon>
                <a routerLink="quiz">Quiz 2</a>
            </div>
        </div>

        <div class="notes boxs">
            <h2>Notes</h2>
            <div class="note box">
                <fa-icon [icon]="faNoteSticky"></fa-icon>
                <p>Student 15/5/2023 class is Onlne</p>
                <p class="post">post at 2023/5/15 08:30 AM</p>
            </div>
            <div class="note box">
                <fa-icon [icon]="faNoteSticky"></fa-icon>
                <p>Student 15/5/2023 class is Onlne</p>
                <p class="post">post at 2023/5/15 08:30 AM</p>
            </div>
        </div>
    </div>
</div>