<div class="container">
    <div class="body">
        <div class="test">
            <div class="questionStep">
                <p>Question 2</p>
                <p>Not yet answered</p>
                <p>Marked out of 1.00</p>
            </div>
            <div class="question">
                <p class="head">
                    Cillum elit proident labore labore nostrud.
                </p>
                <p>Select:</p>
                <div class="answers">
                    <div class="answer">
                        <input type="radio" name="a1">
                        <label for="a1">Et occaecat ad laborum labore et aute dolore aliquip.</label>
                    </div>
                    <div class="answer">
                        <input type="radio" name="a1">
                        <label for="a1">Et occaecat ad laborum labore et aute dolore aliquip.</label>
                    </div>
                </div>
            </div>
            <div class="questionNav">
                <div class="questionNum">
                    <div class="number">
                        <div class="nav">1</div>
                        <div class="finish"></div>
                    </div>
                    <div class="select">
                        <div class="nav">2</div>
                        <div class="step"></div>
                    </div>
                </div>
            </div>
        </div>
        <button class="next">next</button>
    </div>
</div>