<div class="container">
    <h1>Marks</h1>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Report Mark</th>
                <th>Midterm Mark</th>
                <th>Final Mark</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>3200100</td>
                <td>Ahmad Abed Ibrahim Allan</td>
                <td>20 / 20</td>
                <td>30 / 30</td>
                <td>50 / 50</td>
                <th><button class="btnSecondary"> <fa-icon [icon]="faEdit"></fa-icon> Edit</button></th>
            </tr>
        </tbody>
    </table>
</div>
