<div class="container">
    <h1>Home</h1>
    <div class="posts">
        <h2>Posts</h2>
        <div class="postsContainer">
            <div class="post">
                <div class="header">
                    <h3>Subject: Math</h3>
                    <h5>Type: Reminder</h5>
                    <h6> From: From: <a href="">school bot</a></h6>
                </div>
                <p>the <a href="#">assignment</a> you post for class 10-A are ready to grade</p>
                <p class="time">posts at 08:00PM 2023/5/15</p>
            </div>

            <div class="post">
                <div class="header">
                    <h3>Subject: Math</h3>
                    <h5>Type: Note</h5>
                    <h6> From: <a href="">Student mohammed</a></h6>
                </div>
                <p>there tenth question on <a href="#">Quiz</a> is wrong can you check it please</p>
                <p class="time">posts at 08:00PM 2023/5/15</p>
            </div>

            <div class="post">
                <div class="header">
                    <h3>Subject: Math</h3>
                    <h5>Type: Reminder</h5>
                    <h6> From: <a href="">school bot</a></h6>
                </div>
                <p>The <a href="#">quiz</a> you create is soon</p>
                <p>the quiz will take place at school tomorrow in class 8-B</p>
                <p class="time">posts at 08:00PM 2023/5/15</p>
            </div>
        </div>
    </div>

    <div class="schedule">
        <h2>Schedule</h2>
        <div class="type">
            <label for="type">Schedule Type: </label>
            <select name="type">
                <option value="daily">Daily</option>
                <option value="midterm">Midterm</option>
                <option value="final">Final</option>
            </select>
        </div>
        <table class="periods">
            <thead>
                <tr>
                    <th>Days</th>
                    <th>First Period</th>
                    <th>Second Period</th>
                    <th>Third Period</th>
                    <th>LUNCH</th>
                    <th>Fourth Period</th>
                    <th>Fifth Period</th>
                    <th>Sixth Period</th>
                    <th>Seventh Period</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Sunday</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>-</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>-</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>-</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>-</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>-</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>-</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                </tr>
                <tr>
                    <td>Sunday</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>-</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                    <td>math</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="announcements">
        <h2>Announcements</h2>
        <button class="btnSecondary">Post Announcements </button>
        <div class="announcement">
            <div class="image"><img src="../../../assets/images/announcement-test.png" alt="Test"></div>
            <div class="post">
                <h2>Angular Course</h2>
                <p>
                    Amet do cupidatat ullamco cupidatat qui qui voluptate magna. Non magna fugiat aliquip proident consequat mollit veniam aute. Ex qui officia veniam fugiat id mollit ad aliquip veniam amet eiusmod. Nulla voluptate enim eiusmod consectetur proident.

                    Non sunt sit in tempor adipisicing aute reprehenderit. Lorem velit anim eiusmod proident tempor consequat est. Quis nisi cillum ut cupidatat incididunt in ipsum excepteur. Cillum dolor non dolor sunt excepteur enim elit nostrud ex pariatur consequat fugiat anim. Reprehenderit ex nisi labore proident id dolore esse culpa. Minim est esse tempor id nisi esse magna. 
                    Do esse do minim ad id aute sit occaecat sunt sunt veniam elit. Culpa anim id est minim aliquip magna et sunt minim reprehenderit eiusmod voluptate voluptate. Eu ex deserunt voluptate laborum excepteur sint sit elit irure eu est consequat. Exercitation aute ea irure ex sunt elit id cupidatat adipisicing magna deserunt reprehenderit.

                    Sit ad elit ea dolore. Officia consequat occaecat do cillum aliqua commodo labore. Fugiat nostrud ad dolor ullamco ullamco labore tempor velit sunt sunt quis sunt deserunt. Ut et duis cupidatat consectetur eiusmod. Deserunt minim ipsum tempor minim. Dolor ex dolor non adipisicing culpa amet.
                </p>
            </div>

        </div>
        <div class="announcement">
            <div class="image"><img src="../../../assets/images/announcement-test.png" alt="Test"></div>
            <div class="post">
                <h2>Angular Course</h2>
                <p>
                    Amet do cupidatat ullamco cupidatat qui qui voluptate magna. Non magna fugiat aliquip proident consequat mollit veniam aute. Ex qui officia veniam fugiat id mollit ad aliquip veniam amet eiusmod. Nulla voluptate enim eiusmod consectetur proident.

                    Non sunt sit in tempor adipisicing aute reprehenderit. Lorem velit anim eiusmod proident tempor consequat est. Quis nisi cillum ut cupidatat incididunt in ipsum excepteur. Cillum dolor non dolor sunt excepteur enim elit nostrud ex pariatur consequat fugiat anim. Reprehenderit ex nisi labore proident id dolore esse culpa. Minim est esse tempor id nisi esse magna. 
                    Do esse do minim ad id aute sit occaecat sunt sunt veniam elit. Culpa anim id est minim aliquip magna et sunt minim reprehenderit eiusmod voluptate voluptate. Eu ex deserunt voluptate laborum excepteur sint sit elit irure eu est consequat. Exercitation aute ea irure ex sunt elit id cupidatat adipisicing magna deserunt reprehenderit.

                    Sit ad elit ea dolore. Officia consequat occaecat do cillum aliqua commodo labore. Fugiat nostrud ad dolor ullamco ullamco labore tempor velit sunt sunt quis sunt deserunt. Ut et duis cupidatat consectetur eiusmod. Deserunt minim ipsum tempor minim. Dolor ex dolor non adipisicing culpa amet.
                </p>
            </div>
    </div>
</div>
