.container {
    padding: 10px;
}

h1,
h2 {
    color: var(--primary-color);
    border-left: 3px solid var(--secondary-color);
    margin-top: 10px;
    padding-left: 10px;
}

section {
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}