<div class="container">
    <div class="header">
        <button class="back" (click)="onClick()">
            <fa-icon  [icon]="faArrowLeft" style="color: black;" size="xl"></fa-icon>
        </button>
        <h2>2023-Math-10-A</h2>
    </div>

    <div class="body">
        <div class="assignment">
            <h2>Assignments</h2>
            <div class="opened">
                <p class="bold">Opened:</p>
                <p class="light">Tuesday, 28 March 2023, 12:00 AM </p>
            </div>
            <div class="due">
                <p class="bold">Due:</p>
                <p class="light">Saturday, 20 May 2023, 12:00 AM </p>
            </div>
        </div>
        <div class="list">
            <table class="student">
                <tbody>
                    <tr>
                        <td>32001002017</td>
                        <td>Ahmad Abed Ibrahim Allan</td>
                        <td>Submitted</td>
                        <td><button class="btnSecondary">View file</button></td>
                        <td><button class="btnSecondary">grade</button></td>
                    </tr>
                    <tr>
                        <td>32001002017</td>
                        <td>Ahmad Allan</td>
                        <td>Submitted</td>
                        <td><button class="btnSecondary">View file</button></td>
                        <td><button class="btnSecondary">grade</button></td>
                    </tr>
                </tbody>
            </table>
        </div> 
    </div>
</div>
