<div class="container">
    <h1>Home</h1>
    <div class="overview">
        <h2>Child's Performance Overview</h2>
        <p>Overall Grade: A</p>
        <p>Attendance: 90%</p>
        <p>Notable Achievements: Student of the Month</p>
    </div>
    <div class="resentMarks">
        <h2>Recent Marks</h2>
        <ul>
        <li>Math - Quiz 1: 95%</li>
        <li>English - Essay: 88%</li>
        <li>Science - Lab Report: 92%</li>
        </ul>
    </div>
    <div class="announcements">
        <h2>Announcements</h2>
        <button class="btnSecondary">Post Announcements </button>
        <div class="announcement">
            <div class="image"><img src="../../../assets/images/announcement-test.png" alt="Test"></div>
            <div class="post">
                <h3>Angular Course</h3>
                <p>
                    Amet do cupidatat ullamco cupidatat qui qui voluptate magna. Non magna fugiat aliquip proident consequat mollit veniam aute. Ex qui officia veniam fugiat id mollit ad aliquip veniam amet eiusmod. Nulla voluptate enim eiusmod consectetur proident.

                    Non sunt sit in tempor adipisicing aute reprehenderit. Lorem velit anim eiusmod proident tempor consequat est. Quis nisi cillum ut cupidatat incididunt in ipsum excepteur. Cillum dolor non dolor sunt excepteur enim elit nostrud ex pariatur consequat fugiat anim. Reprehenderit ex nisi labore proident id dolore esse culpa. Minim est esse tempor id nisi esse magna. 
                    Do esse do minim ad id aute sit occaecat sunt sunt veniam elit. Culpa anim id est minim aliquip magna et sunt minim reprehenderit eiusmod voluptate voluptate. Eu ex deserunt voluptate laborum excepteur sint sit elit irure eu est consequat. Exercitation aute ea irure ex sunt elit id cupidatat adipisicing magna deserunt reprehenderit.

                    Sit ad elit ea dolore. Officia consequat occaecat do cillum aliqua commodo labore. Fugiat nostrud ad dolor ullamco ullamco labore tempor velit sunt sunt quis sunt deserunt. Ut et duis cupidatat consectetur eiusmod. Deserunt minim ipsum tempor minim. Dolor ex dolor non adipisicing culpa amet.
                </p>
            </div>

        </div>
        <div class="announcement">
            <div class="image"><img src="../../../assets/images/announcement-test.png" alt="Test"></div>
            <div class="post">
                <h3>Angular Course</h3>
                <p>
                    Amet do cupidatat ullamco cupidatat qui qui voluptate magna. Non magna fugiat aliquip proident consequat mollit veniam aute. Ex qui officia veniam fugiat id mollit ad aliquip veniam amet eiusmod. Nulla voluptate enim eiusmod consectetur proident.

                    Non sunt sit in tempor adipisicing aute reprehenderit. Lorem velit anim eiusmod proident tempor consequat est. Quis nisi cillum ut cupidatat incididunt in ipsum excepteur. Cillum dolor non dolor sunt excepteur enim elit nostrud ex pariatur consequat fugiat anim. Reprehenderit ex nisi labore proident id dolore esse culpa. Minim est esse tempor id nisi esse magna. 
                    Do esse do minim ad id aute sit occaecat sunt sunt veniam elit. Culpa anim id est minim aliquip magna et sunt minim reprehenderit eiusmod voluptate voluptate. Eu ex deserunt voluptate laborum excepteur sint sit elit irure eu est consequat. Exercitation aute ea irure ex sunt elit id cupidatat adipisicing magna deserunt reprehenderit.

                    Sit ad elit ea dolore. Officia consequat occaecat do cillum aliqua commodo labore. Fugiat nostrud ad dolor ullamco ullamco labore tempor velit sunt sunt quis sunt deserunt. Ut et duis cupidatat consectetur eiusmod. Deserunt minim ipsum tempor minim. Dolor ex dolor non adipisicing culpa amet.
                </p>
        </div>
    </div>

    <div class="feeStatus">
        <h2>Fee and Payment Status</h2>
        <p>Fee Payment: Paid</p>
        <p>Bus Services Subscription: Active</p>
    </div>
</div>
