:root{
    --primary-color: #00968b;
    --secondary-color: #ef5e4a;
    --border-color: #d4d4d4; 
    --bg-form-color: #fafafa;
    --table-row-color: #b2dfdb;
    --table-border-color: #80cbc4;
    --table-text-color: #00697e;
}
