<div class="container">
    <h1>My Courses</h1>
    <div class="courses">
        <div class="course">
            <fa-icon [icon]="faDiscourse" style="color: gray;" size="xl"></fa-icon>
            <a class="courseLink" routerLink="course">2022-Math-10-A</a>
            <p>Teacher: <span><a href="#">Ahmad Allan</a></span></p>
        </div>
        <div class="course">
            <fa-icon [icon]="faDiscourse" style="color: gray;" size="xl"></fa-icon>
            <a class="courseLink" href="#">2022-Math-10-A</a>
            <p>Teacher: <span><a href="#">Ahmad Allan</a></span></p>
        </div>
        <div class="course">
            <fa-icon [icon]="faDiscourse" style="color: gray;" size="xl"></fa-icon>
            <a class="courseLink" href="#">2022-Math-10-A</a>
            <p>Teacher: <span><a href="#">Ahmad Allan</a></span></p>
        </div>
        <div class="course">
            <fa-icon [icon]="faDiscourse" style="color: gray;" size="xl"></fa-icon>
            <a class="courseLink" href="#">2022-Math-10-A</a>
            <p>Teacher: <span><a href="#">Ahmad Allan</a></span></p>
        </div>
        <div class="course">
            <fa-icon [icon]="faDiscourse" style="color: gray;" size="xl"></fa-icon>
            <a class="courseLink" href="#">2022-Math-10-A</a>
            <p>Teacher: <span><a href="#">Ahmad Allan</a></span></p>
        </div>
        <div class="course">
            <fa-icon [icon]="faDiscourse" style="color: gray;" size="xl"></fa-icon>
            <a class="courseLink" href="#">2022-Math-10-A</a>
            <p>Teacher: <span><a href="#">Ahmad Allan</a></span></p>
        </div>
        <div class="course">
            <fa-icon [icon]="faDiscourse" style="color: gray;" size="xl"></fa-icon>
            <a class="courseLink" href="#">2022-Math-10-A</a>
            <p>Teacher: <span><a href="#">Ahmad Allan</a></span></p>
        </div>
        <div class="course">
            <fa-icon [icon]="faDiscourse" style="color: gray;" size="xl"></fa-icon>
            <a class="courseLink" href="#">2022-Math-10-A</a>
            <p>Teacher: <span><a href="#">Ahmad Allan</a></span></p>
        </div>
    </div>
</div>
